<div class="tab-content">
    <div id="home" class="tab-pane fade in active" align="center">
        <img src="207lab.jpg" style="width:650px;height:300px;">
        <br><br><br>
    </div>

    <% if (page == "management") { %>
    <div id="beaconlist" class="tab-pane fade">
        <br>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="text-center">비콘 목록</h4>
            </div>
            <div id="main-beacon-list" class="main-list panel-body pre-scrollable list-group">
                <%
                for (var i = 0; i < beaconlist.length; i++) {
                    var row = beaconlist[i];
                %>
                <a data-toggle="tab" class='list-group-item' href="#beacon_detail" title="<%=row.beacon_address%>"><%=row.beacon_address%></a>
                <%=row.time %>
                <%
                }
                %>
            </div>
            <div class="panel-footer"><ul class="nav nav-justified"><li><a data-toggle="tab" href="#addbeacon">추가</a></li></ul></div>
        </div>
    </div>

    <div id="workplacelist" class="tab-pane fade">
        <br>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="text-center">작업장 목록</h4>
            </div>
            <div id="main-workplace-list" class="main-list panel-body pre-scrollable list-group">
                <%
                for (var i = 0; i < workplacelist.length; i++) {
                    var row = workplacelist[i];
                %>
                <a data-toggle="tab" class='list-group-item' href="#workplace_detail" title="<%=row.name_workplace%>"><%=row.name_workplace%></a>
                <%=row.time %>
                <%
                }
                %>
            </div>
            <div class="panel-footer"><ul class="nav nav-justified"><li><a data-toggle="tab" href="#addworkplace">추가</a></li></ul></div>
        </div>
    </div>

    <div id="employeelist" class="tab-pane fade">
        <br>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="text-center">직원 목록</h4>
            </div>
            <div id="main-employee-list" class="main-list panel-body pre-scrollable list-group">
                <%
                for (var i = 0; i < userlist.length; i++) {
                    var row = userlist[i];
                %>
                <a data-toggle="tab" class='list-group-item' href="#employee_detail" title="<%=row.name%>, <%=row.employee_number%>"><%=row.name%>, <%=row.employee_number%></a>
                <%=row.time %>
                <%
                }
                %>
            </div>
            <div class="panel-footer"><ul class="nav nav-justified"><li><a data-toggle="tab" href="#addemployee">추가</a></li></ul></div>
        </div>
    </div>

    <div id="beacon_detail" class="tab-pane fade">
        <br>
        <div class="panel panel-primary">
            <div class="panel-heading">클릭한 비콘 이름</div>
            <div class="panel-body">
                세부정보
                <!--여기에 db를 가져와야해요-->
            </div>
            <div class="panel-footer">
                <ul class="nav nav-justified">
                    <li><a data-toggle="tab" href="#">수정</a></li>
                    <li><a data-toggle="tab" href="#">삭제</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="workplace_detail" class="tab-pane fade">
        <br>
        <div class="panel panel-primary">
            <div class="panel-heading">클릭한 작업장 이름</div>
            <div class="panel-body">
                세부정보
                <!--여기에 db를 가져와야해요-->
            </div>
            <div class="panel-footer">
                <ul class="nav nav-justified">
                    <li><a data-toggle="tab" href="#">수정</a></li>
                    <li><a data-toggle="tab" href="#">삭제</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="employee_detail" class="tab-pane fade">
        <br>
        <div class="panel panel-primary">
            <div class="panel-heading">클릭한 직원 이름</div>
            <div class="panel-body">
                세부정보
                <!--여기에 db를 가져와야해요-->
            </div>
            <div class="panel-footer">
                <ul class="nav nav-justified">
                    <li><a data-toggle="tab" href="#">수정</a></li>
                    <li><a data-toggle="tab" href="#">삭제</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="addbeacon" class="tab-pane fade">
        <% include beacon/add_beacon.ejs %>
    </div>
    <div id="addemployee" class="tab-pane fade">
        <% include employee/add_employee.ejs %>
    </div>
    <div id="addworkplace" class="tab-pane fade">
        <% include workplace/add_workplace.ejs %>
    </div>
    <% } else if (page == "log") { %>

    <div id="tptable" class="tab-pane fade">
        <h3>시간장소</h3>
        <div class="col-sm-5 text-left">
            <!--시간-장소 d3를 여기에-->
        </div>
    </div>
    <div id="pmtable" class="tab-pane fade">
        <h3>장소이동</h3>
        <div class="col-sm-5 text-left">
            <!--장소-이동 d3를 여기에-->
        </div>
    </div>
    <div id="wptable" class="tab-pane fade">
        <h3>요일장소</h3>
        <div class="col-sm-5 text-left">
            <!--요일-장소 d3를 여기에-->
        </div>
    </div>

    <div id="presentation" class="tab-pane fade">
        <h3>출퇴근 테이블</h3>
        <div class="col-sm-5 text-left">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>date</th>
                    <th>name_workplace</th>
                    <th>smartphone_address</th>
                </tr>
                </thead>
                <tbody>
                <div id="circumstance-table-body">
                    <%
                    for (var i = 0; i < rows.length; i++) {
                        var row = rows[i];
                    %>
                    <tr>
                        <td>
                            <%=row.datetime %>
                        </td>
                        <td>
                            <%=row.id_workplace %>
                        </td>
                        <td>
                            <%=row.smartphone_address %>
                        </td>
                    </tr>
                    <%
                    }
                    %>
                </div>
                </tbody>
            </table>
        </div>
    </div>
    <% } %>
</div>