<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="plugins/datatables/dataTables.bootstrap.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <% include nav.ejs %>

    <% include sidenav.ejs %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                비콘 관리
                <small>각 비콘의 정보를 열람 및 수정</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">관리</a></li>
                <li class="active">비콘 관리</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">비콘 목록</h3>
                            <a id="open_add_modal_button" class="btn btn-success btn-md pull-right">비콘 추가</a>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="beacon_table" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>블루투스 주소</th>
                                    <th>UUID</th>
                                    <th>Major</th>
                                    <th>Minor</th>
                                    <th>사무실 고유 번호</th>
                                    <th>사무실 이름</th>
                                    <th>수정</th>
                                    <th>삭제</th>
                                </tr>
                                </thead>
                                <tbody>
                                <%
                                if (typeof beaconListRows !== 'undefined') {
                                for (var i = 0; i < beaconListRows.length; i++) {
                                %>
                                <tr>
                                    <input type="hidden" class="each_beacon_info_<%= i %>" value="<%= JSON.stringify(beaconListRows[i]) %>">
                                    <td><%= beaconListRows[i].beacon_address %></td>
                                    <td><%= beaconListRows[i].UUID %></td>
                                    <td><%= beaconListRows[i].major %></td>
                                    <td><%= beaconListRows[i].minor %></td>
                                    <td><% if (beaconListRows[i].id_workplace == -1) { %> <% } else { %><%= beaconListRows[i].id_workplace %><% } %></td>
                                    <td><%= beaconListRows[i].name_workplace %></td>
                                    <td><a class="open_modify_modal_button btn btn-primary btn-xs" role="dialog" title="<%= i %>"><span class="glyphicon glyphicon-pencil"></span></a></td>
                                    <td><a class="open_delete_modal_button btn btn-danger btn-xs" role="dialog" title="<%= i %>"><span class="glyphicon glyphicon-trash"></span></a></td>
                                </tr>
                                <% } } %>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>블루투스 주소</th>
                                    <th>UUID</th>
                                    <th>Major</th>
                                    <th>Minor</th>
                                    <th>사무실 고유 번호</th>
                                    <th>사무실 이름</th>
                                    <th>수정</th>
                                    <th>삭제</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.box-body -->
                        <div class="overlay pageload_effect">
                            <i class="fa fa-refresh fa-spin"></i>
                        </div>
                        <!-- /.pageload_effect -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div id="modal_add_form" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form class="form-horizontal" role="form" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center">비콘 추가</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="beacon_control_flag" value="add">
                        <div class="form-group">
                            <input id="input_add_beacon_address" class="form-control" type="text" name="beacon_address" placeholder="블루투스 주소">
                        </div>
                        <div class="form-group">
                            <input id="input_add_uuid" class="form-control" type="text" name="uuid" placeholder="UUID">
                        </div>
                        <div class="form-group">
                            <input id="input_add_major" class="form-control" type="text" name="major" placeholder="Major">
                        </div>
                        <div class="form-group">
                            <input id="input_add_minor" class="form-control" type="text" name="minor" placeholder="Minor">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-ok-sign"></span> 저장</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </form>
            <!-- /.form-horizontal -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div id="modal_modify_form" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form class="form-horizontal" role="form" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center">비콘 정보 수정</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="beacon_control_flag" value="modify">
                        <div class="form-group">
                            <input id="input_modify_beacon_address_disabled" class="form-control" type="text" placeholder="블루투스 주소" disabled>
                            <input id="input_modify_beacon_address" class="form-control" type="hidden" name="beacon_address">
                        </div>
                        <div class="form-group">
                            <input id="input_modify_uuid" class="form-control" type="text" name="uuid" placeholder="UUID">
                        </div>
                        <div class="form-group">
                            <input id="input_modify_major" class="form-control" type="text" name="major" placeholder="Major">
                        </div>
                        <div class="form-group">
                            <input id="input_modify_minor" class="form-control" type="text" name="minor" placeholder="Minor">
                        </div>
                        <div class="form-group">
                            <input id="input_modify_id_workplace_disabled" class="form-control" type="text" placeholder="사무실 고유 번호" disabled>
                            <input id="input_modify_id_workplace" class="form-control" type="hidden" name="id_workplace">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-ok-sign"></span> 저장</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </form>
            <!-- /.form-horizontal -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div id="modal_delete_form" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form class="form-horizontal" role="form" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center">비콘 삭제</h4>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <input type="hidden" name="beacon_control_flag" value="delete">
                            <input id="deleted_beacon_address" type="hidden" name="beacon_address">
                            <h3>되돌릴 수 없습니다</h3><br>
                            <small>그래도 삭제하시겠습니까?</small>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-lg btn-block"><span class="glyphicon glyphicon-ok-sign"></span> 삭제</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </form>
            <!-- /.form-horizontal -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <% include footer.ejs %>

</div>
<!-- ./wrapper -->
<!-- REQUIRED JS SCRIPTS -->
<!-- jQuery 2.2.3 -->
<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- DataTables -->
<script src="plugins/datatables/jquery.dataTables.min.js"></script>
<script src="plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/app.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<script>

    $(document).ready(function(){
        $('#beacon_table').DataTable();

        $('div.pageload_effect').hide();

        $('#open_add_modal_button').click(function() {
            $('#modal_add_form').modal('show');
        });

        $('#modal_add_form').on('hidden.bs.modal', function() {
            $('#input_add_beacon_address_disabled').val('');
            $('#input_add_beacon_address').val('');
            $('#input_add_uuid').val('');
            $('#input_add_major').val('');
            $('#input_add_minor').val('');
            $('#input_add_id_workplace_disabled').val('');
            $('#input_add_id_workplace').val('');
        });

        var selectedBeaconInfo;

        $('a.open_modify_modal_button').click(function() {
            $('#modal_modify_form').modal('show');

            var hiddenInputSelector = 'input.each_beacon_info_' + this.title;
            selectedBeaconInfo = JSON.parse($(hiddenInputSelector).val());
        });

        $('#modal_modify_form').on('shown.bs.modal', function() {
            $('#input_modify_beacon_address_disabled').val(selectedBeaconInfo.beacon_address);
            $('#input_modify_beacon_address').val(selectedBeaconInfo.beacon_address);
            $('#input_modify_uuid').val(selectedBeaconInfo.UUID);
            $('#input_modify_major').val(selectedBeaconInfo.major);
            $('#input_modify_minor').val(selectedBeaconInfo.minor);
            $('#input_modify_id_workplace_disabled').val(selectedBeaconInfo.id_workplace);
            $('#input_modify_id_workplace').val(selectedBeaconInfo.id_workplace);
        });

        $('#modal_modify_form').on('hidden.bs.modal', function() {
            $('#input_modify_beacon_address_disabled').val('');
            $('#input_modify_beacon_address').val('');
            $('#input_modify_uuid').val('');
            $('#input_modify_major').val('');
            $('#input_modify_minor').val('');
            $('#input_modify_id_workplace_disabled').val('');
            $('#input_modify_id_workplace').val('');
        });

        $('a.open_delete_modal_button').click(function() {
            $('#modal_delete_form').modal('show');

            var hiddenInputSelector = 'input.each_beacon_info_' + this.title;
            selectedBeaconInfo = JSON.parse($(hiddenInputSelector).val());
        });

        $('#modal_delete_form').on('shown.bs.modal', function() {
            $('#deleted_beacon_address').val(selectedBeaconInfo.beacon_address);
        });
    });

</script>
</body>
</html>
