<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="plugins/datatables/dataTables.bootstrap.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <% include nav.ejs %>

    <% include sidenav.ejs %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                가입 허가
                <small>가입 신청을 한 직원들의 서비스 사용 허가</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li><a href="#">관리</a></li>
                <li class="active">가입 허가</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">직원 목록</h3>
                            <a id="permit_send" class="btn btn-success btn-md pull-right">가입 허가</a>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="member_table" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" id="checkall" /></th>
                                    <th>이름</th>
                                    <th>사원 번호</th>
                                    <th>블루투스 주소</th>
                                    <th>부서</th>
                                    <th>직급</th>
                                    <th>관리자 권한</th>
                                    <th>수정</th>
                                    <th>삭제</th>
                                </tr>
                                </thead>
                                <tbody>
                                <%
                                if (deniedUserListRows) {
                                for (var i = 0; i < deniedUserListRows.length; i++) {
                                %>
                                <tr>
                                    <input type="hidden" class="each_user_info_<%= i %>" value="<%= JSON.stringify(deniedUserListRows[i]) %>">
                                    <td><input type="checkbox"></td>
                                    <td><%= deniedUserListRows[i].name %></td>
                                    <td><%= deniedUserListRows[i].employee_number %></td>
                                    <td><%= deniedUserListRows[i].smartphone_address %></td>
                                    <td><%= deniedUserListRows[i].department %></td>
                                    <td><%= deniedUserListRows[i].position %></td>
                                    <td><% if (deniedUserListRows[i].admin == 1) { %><span class="glyphicon glyphicon-ok"></span><% } else { %>&nbsp;<% } %></td>
                                    <td><a class="open_modify_modal_button btn btn-primary btn-xs" role="dialog" title="<%= i %>"><span class="glyphicon glyphicon-pencil"></span></a></td>
                                    <td><a class="open_delete_modal_button btn btn-danger btn-xs" role="dialog" title="<%= i %>"><span class="glyphicon glyphicon-trash"></span></a></td>
                                </tr>
                                <% } } %>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th> </th>
                                    <th>이름</th>
                                    <th>사원 번호</th>
                                    <th>블루투스 주소</th>
                                    <th>부서</th>
                                    <th>직급</th>
                                    <th>관리자 권한</th>
                                    <th>수정</th>
                                    <th>삭제</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div id="modal_modify_form" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form class="form-horizontal" role="form" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center">직원 정보 수정</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="user_control_flag" value="modify">
                        <div class="form-group" >
                            <input id="input_modify_name" class="form-control" type="text" name="modified_name" placeholder="이름">
                        </div>
                        <div class="form-group" >
                            <input id="input_modify_employee_number_disabled" class="form-control" type="text" disabled>
                            <input id="input_modify_employee_number" class="form-control" type="hidden" name="employee_number">
                        </div>
                        <div class="form-group" >
                            <input id="input_modify_smartphone_address_disabled" class="form-control" type="text" disabled>
                            <input id="input_modify_smartphone_address" class="form-control" type="hidden" name="smartphone_address">
                        </div>
                        <div class="form-group" >
                            <input id="input_modify_department" class="form-control" type="text" name="modified_department"  placeholder="부서">
                        </div>
                        <div class="form-group" >
                            <input id="input_modify_position" class="form-control" type="text" name="modified_position"  placeholder="직급">
                        </div>
                        <div class="form-group" >
                            <div class="checkbox">
                                <label><input id="input_modify_admin" type="checkbox" name="modified_admin">관리자 권한</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-ok-sign"></span> 저장</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </form>
            <!-- /.form-horizontal -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div id="modal_delete_form" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form class="form-horizontal" role="form" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center">직원 삭제</h4>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <input type="hidden" name="user_control_flag" value="delete">
                            <input id="deleted_smartphone_address" type="hidden" name="smartphone_address">
                            <h3>되돌릴 수 없습니다</h3><br>
                            <small>그래도 삭제하시겠습니까?</small>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-lg btn-block"><span class="glyphicon glyphicon-ok-sign"></span> 삭제</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </form>
            <!-- /.form-horizontal -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <% include footer.ejs %>

</div>
<!-- ./wrapper -->
<!-- REQUIRED JS SCRIPTS -->
<!-- jQuery 2.2.3 -->
<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- DataTables -->
<script src="plugins/datatables/jquery.dataTables.min.js"></script>
<script src="plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/app.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<script>

    $(document).ready(function() {
        $('#member_table').DataTable();

        var selectedUserInfo;

        $('a.open_modify_modal_button').click(function() {
            $('#modal_modify_form').modal('show');

            var hiddenInputSelector = 'input.each_user_info_' + this.title;
            selectedUserInfo = JSON.parse($(hiddenInputSelector).val());
        });

        $('#modal_modify_form').on('shown.bs.modal', function() {
            $('#input_modify_name').val(selectedUserInfo.name);
            $('#input_modify_employee_number_disabled').val(selectedUserInfo.employee_number);
            $('#input_modify_employee_number').val(selectedUserInfo.employee_number);
            $('#input_modify_smartphone_address_disabled').val(selectedUserInfo.smartphone_address);
            $('#input_modify_smartphone_address').val(selectedUserInfo.smartphone_address);
            $('#input_modify_department').val(selectedUserInfo.department);
            $('#input_modify_position').val(selectedUserInfo.position);
            $('#input_modify_admin').val(selectedUserInfo.admin);

            if (selectedUserInfo.admin)
                $('#input_modify_admin').prop('checked', true);
            else
                $('#input_modify_admin').prop('checked', false);
        });

        $('#modal_modify_form').on('hidden.bs.modal', function() {
            $('#input_modify_name').val('');
            $('#input_modify_employee_number_disabled').val('');
            $('#input_modify_employee_number').val('');
            $('#input_modify_smartphone_address_disabled').val('');
            $('#input_modify_smartphone_address').val('');
            $('#input_modify_department').val('');
            $('#input_modify_position').val('');
            $('#input_modify_admin').val('');

            $('#input_modify_admin').prop('checked', false);
        });

        $('a.open_delete_modal_button').click(function() {
            $('#modal_delete_form').modal('show');

            var hiddenInputSelector = 'input.each_user_info_' + this.title;
            selectedUserInfo = JSON.parse($(hiddenInputSelector).val());
        });

        $('#modal_delete_form').on('shown.bs.modal', function() {
            $('#deleted_smartphone_address').val(selectedUserInfo.smartphone_address);
        });

        $("#member_table #checkall").click(function () {
            if ($("#member_table #checkall").is(':checked')) {
                $("#member_table input[type=checkbox]").each(function () {
                    $(this).prop("checked", true);
                });

            } else {
                $("#member_table input[type=checkbox]").each(function () {
                    $(this).prop("checked", false);
                });
            }
        });
    });

</script>
</body>
</html>