<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="dist/css/skins/skin-blue.min.css">
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">

        <!-- Logo -->
        <a href="dashboard" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b><span class="glyphicon glyphicon-home"></span></b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b><%= userInfo.department %></b></span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>


            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <!-- left-head side picture part -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- The user image in the navbar-->
                            <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs"><%= userInfo.name %></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            <li class="user-header">
                                <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                                <p>
                                    <b><%= userInfo.name %></b> - <%= userInfo.department %>
                                    <small><%= userInfo.position %></small>
                                    <!-- <small>근무시작일</small> -->
                                </p>

                            </li>

                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-right">
                                    <a href="logout" class="btn btn-default btn-flat">로그아웃</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->

                </ul>
            </div>
        </nav>
    </header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- Sidebar user panel (optional) -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p><%= userInfo.name %></p>
                    <!-- Status -->
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <ul class="sidebar-menu">
                <li class="header text-center"><%= companyName %></li>
                <!-- Optionally, you can add icons to the links -->

                <li class=""><a href="dashboard"><i class="fa fa-bell"></i> <span> 메인페이지</span></a></li>
                <!--                   http://14.63.219.156/dashboard                 -->
                <li><a href="profile"><i class="fa fa-user"></i> <span> 개인정보수정</span></a></li>
                <!--                   http://14.63.219.156/profile                   -->
                <li class=""><a href="member"><i class="fa fa-thumbs-up"></i> <span> 직원관리</span></a></li>
                <!--                   http://14.63.219.156/member                    -->
                <li class="active"><a href="workplace"><i class="fa fa-square"></i> <span> 사무실관리</span></a></li>
                <!--                  http://14.63.219.156/workplace                  -->

                <!-- 근무기록조회 사이드바 -->
                <li class="treeview">
                    <a href="manageworks">
                        <!-- http://14.63.219.156/manageworks -->
                        <i class="fa fa-search"></i>
                        <span> 근무기록조회</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="d3chart1"><i class="fa fa-circle-o"></i>사무실이동현황</a></li>
                        <!-- 14.63.219.156/d3chart1 -->
                        <li><a href="d3chart2"><i class="fa fa-circle-o"></i>직원근무현황</a></li>
                        <!-- 14.63.219.156/d3chart2 -->
                    </ul>
                </li>

                <!-- 관리 사이드바-->
                <li class="treeview">
                    <a href="permissiom">
                        <!-- 14.63.219.156/permission-->
                        <i class="fa fa-user-plus"></i>
                        <span> 관리</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="permission"><i class="fa fa-circle-o"></i>가입허가</a></li>
                        <!-- 14.63.219.156/permission -->
                        <li><a href="beacon"><i class="fa fa-circle-o"></i>비콘관리</a></li>
                        <!-- 14.63.219.156/beacon -->
                    </ul>
                </li>
            </ul>

            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->

        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->
            <div class="container" style="margin-top:60px ;">
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2" style="margin-left:150px">
                        <div class="input-group">
                            <div class="input-group-btn search-panel">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span id="search_concept">검색조건</span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">이름</a></li>
                                    <li><a href="#">사원번호</a></li>
                                    <li><a href="#">직급</a></li>
                                </ul>
                            </div>
                            <input type="hidden" name="search_param" value="all" id="search_param">
                            <input type="text" class="form-control" name="x" placeholder="Search term...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12" style="margin-top:40px ;">
                        <div class="table-responsive">
                            <table id="mytable" class="table table-bordred table-striped" style="width:1000px; margin-left:30px ; ">
                                <thead>
                                    <th>사무실이름</th>
                                    <th>사무실위치</th>
                                    <th>비콘 설치 여부</th>
                                    <th style="width: 46px;">수정</th>
                                </thead>
                                <tbody>
                                <%
                                if (workplaceListRows) {
                                    for (var i = 0; i < workplaceListRows.length; i++) {
                                %>
                                    <tr>
                                        <td><%= workplaceListRows[i].name_workplace %></td>
                                        <td><%= workplaceListRows[i].location_workplace %></td>
                                        <td><% if (workplaceListRows[i].beacon_set == 1) { %><span class="glyphicon glyphicon-ok"></span><% } %></td>
                                        <td><button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></td>
                                    </tr>
                                <% } } %>
                                </tbody>
                            </table>

                            <div class="clearfix"></div>
                            <ul class="pagination pull-right" style="margin-right: 500px; margin-top: 65px">
                                <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <!-- routing -- member2-->
                                <li><a href="#">2</a></li>
                                <!-- routing -- member3-->
                                <li><a href="#">3</a></li>
                                <!-- routing -- member4-->
                                <li><a href="#">4</a></li>
                                <!-- routing -- member5-->
                                <li><a href="#">5</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!-- /.container -->
        </section>
    </div>
    <!-- /.content-wrapper -->

    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <form action="#" class="form-horizontal" role="form" style="margin-right:300px; margin-top:25px;" method ="post">
            <!--이 위에 액션에다가 라우팅 파일 설정하면됨 -->

            <div class="modal-dialog">
                <div class="modal-content" style="left:200px; top:100px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        <h4 class="modal-title custom_align" id="Heading">사업장정보를 수정하시겠습니까?</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" >
                            <input class="form-control " type="text" name="name_workplace" placeholder="사무실이름">
                        </div>
                        <div class="form-group" >
                            <input class="form-control " type="text" name="location_workplace" placeholder="사무실위치">
                        </div>
                        <div class="form-group" >
                            <input class="form-control " type="text" name="beacon_set" placeholder="비콘등록여부">
                        </div>
                    </div>
                    <div class="modal-footer ">
                        <button type="submit" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> 수정완료</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </form>
    </div>
    <!-- /.content -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">

        </div>
        <!-- Default to the left -->
        <strong>IOT Project &copy;  <a href="#">207LAB</a></strong> of Suwon university
    </footer>

</div>
<!-- /.content-wrapper -->

<!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->
<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/app.min.js"></script>
<script>

    $(document).ready(function(e){
        $('.search-panel .dropdown-menu').find('a').click(function(e) {
            e.preventDefault();
            var param = $(this).attr("href").replace("#","");
            var concept = $(this).text();
            $('.search-panel span#search_concept').text(concept);
            $('.input-group #search_param').val(param);
        });
    });

</script>
</body>
</html>
