<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="plugins/datatables/dataTables.bootstrap.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <% include nav.ejs %>

    <% include sidenav.ejs %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                사무실 관리
                <small>각 사무실의 정보를 열람 및 수정</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li><a href="#">관리</a></li>
                <li class="active">사무실 관리</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">사무실 목록</h3>
                            <a id="open_add_modal_button" class="btn btn-success btn-md pull-right">사무실 추가</a>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="workplace_table" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>이름</th>
                                    <th>위치</th>
                                    <th>위도</th>
                                    <th>경도</th>
                                    <th>비콘 설치 여부</th>
                                    <th>RSSI 조정 값</th>
                                    <th>RSSI 출퇴근 등록 범위</th>
                                    <th>수정</th>
                                    <th>삭제</th>
                                </tr>
                                </thead>
                                <tbody>
                                <%
                                if (typeof workplaceListRows !== 'undefined') {
                                for (var i = 0; i < workplaceListRows.length; i++) {
                                %>
                                <tr>
                                    <input type="hidden" class="each_workplace_info_<%= i %>" value="<%= JSON.stringify(workplaceListRows[i]) %>">
                                    <td><%= workplaceListRows[i].id_workplace %></td>
                                    <td><%= workplaceListRows[i].name_workplace %></td>
                                    <td><%= workplaceListRows[i].location_workplace %></td>
                                    <td><%= workplaceListRows[i].latitude %></td>
                                    <td><%= workplaceListRows[i].longitude %></td>
                                    <td><% if (workplaceListRows[i].beacon_set == 1) { %><span class="glyphicon glyphicon-ok"></span><% } else { %>&nbsp;<% } %></td>
                                    <td>(<%= workplaceListRows[i].coordinateX %>, <%= workplaceListRows[i].coordinateY %>, <%= workplaceListRows[i].coordinateZ %>)</td>
                                    <td>(<%= workplaceListRows[i].thresholdX %>, <%= workplaceListRows[i].thresholdY %>, <%= workplaceListRows[i].thresholdZ %>)</td>
                                    <td><a class="open_modify_modal_button btn btn-primary btn-xs" role="dialog" title="<%= i %>"><span class="glyphicon glyphicon-pencil"></span></a></td>
                                    <td><a class="open_delete_modal_button btn btn-danger btn-xs" role="dialog" title="<%= i %>"><span class="glyphicon glyphicon-trash"></span></a></td>
                                </tr>
                                <% } } %>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>번호</th>
                                    <th>이름</th>
                                    <th>위치</th>
                                    <th>위도</th>
                                    <th>경도</th>
                                    <th>비콘 설치 여부</th>
                                    <th>RSSI 조정 값</th>
                                    <th>RSSI 출퇴근 등록 범위</th>
                                    <th>수정</th>
                                    <th>삭제</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div id="modal_add_form" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form class="form-horizontal" role="form" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center">사무실 추가</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="workplace_control_flag" value="add">
                        <div class="form-group" >
                            <input id="input_add_name" class="form-control " type="text" name="name_workplace" placeholder="이름">
                        </div>
                        <div class="form-group" >
                            <input id="input_add_location" class="form-control " type="text" name="location_workplace" placeholder="위치">
                        </div>
                        <div class="form-group" >
                            <input id="input_add_lat_lon" class="form-control " type="text" name="lat_lon" placeholder="위도, 경도" disabled>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-ok-sign"></span> 저장</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </form>
            <!-- /.form-horizontal -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div id="modal_modify_form" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form class="form-horizontal" role="form" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center">사무실 정보 수정</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="workplace_control_flag" value="modify">
                        <div class="form-group" >
                            <input id="input_modify_id_disabled" class="form-control " type="text" placeholder="번호" disabled>
                            <input id="input_modify_id" class="form-control " type="hidden" name="id">
                        </div>
                        <div class="form-group" >
                            <input id="input_modify_name" class="form-control " type="text" name="modified_name" placeholder="이름">
                        </div>
                        <div class="form-group" >
                            <input id="input_modify_location" class="form-control " type="text" name="modified_location" placeholder="위치">
                        </div>
                        <div class="form-group" >
                            <input id="input_modify_lat_lon" class="form-control " type="text" name="modified_lat_lon" placeholder="위도, 경도" disabled>
                        </div>
                        <div class="form-group" >
                            <input id="input_modify_rssi_coordinate_disabled" class="form-control " type="text" disabled>
                        </div>
                        <div class="form-group" >
                            <input id="input_modify_rssi_threshold_disabled" class="form-control " type="text" disabled>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-ok-sign"></span> 저장</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </form>
            <!-- /.form-horizontal -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div id="modal_delete_form" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form class="form-horizontal" role="form" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center">사무실 삭제</h4>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <input type="hidden" name="workplace_control_flag" value="delete">
                            <input id="deleted_workplace_id" type="hidden" name="id_workplace">
                            <h3>되돌릴 수 없습니다</h3><br>
                            <small>그래도 삭제하시겠습니까?</small>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-lg btn-block"><span class="glyphicon glyphicon-ok-sign"></span> 삭제</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </form>
            <!-- /.form-horizontal -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <% include footer.ejs %>

</div>
<!-- ./wrapper -->
<!-- REQUIRED JS SCRIPTS -->
<!-- jQuery 2.2.3 -->
<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- DataTables -->
<script src="plugins/datatables/jquery.dataTables.min.js"></script>
<script src="plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/app.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<script>

    $(document).ready(function() {
        $('#workplace_table').DataTable();

        $('#open_add_modal_button').click(function() {
            $('#modal_add_form').modal('show');
        });

        $('#modal_add_form').on('hidden.bs.modal', function() {
            $('#input_add_name').val('');
            $('#input_add_location').val('');
            $('#input_add_lat_lon').val('클릭하면 위도 경도를 선택할 수 있는 구글 맵으로 유도할 예정');
        });

        var selectedWorkplaceInfo;

        $('a.open_modify_modal_button').click(function() {
            $('#modal_modify_form').modal('show');

            var hiddenInputSelector = 'input.each_workplace_info_' + this.title;
            selectedWorkplaceInfo = JSON.parse($(hiddenInputSelector).val());
        });

        $('#modal_modify_form').on('shown.bs.modal', function() {
            var rssiCoordinate = '(' + selectedWorkplaceInfo.coordinateX + ', ' + selectedWorkplaceInfo.coordinateY + ', ' + selectedWorkplaceInfo.coordinateZ + ')';
            var rssiThreshold = '(' + selectedWorkplaceInfo.thresholdX + ', ' + selectedWorkplaceInfo.thresholdY + ', ' + selectedWorkplaceInfo.thresholdZ + ')';

            $('#input_modify_id_disabled').val(selectedWorkplaceInfo.id_workplace);
            $('#input_modify_id').val(selectedWorkplaceInfo.id_workplace);
            $('#input_modify_name').val(selectedWorkplaceInfo.name_workplace);
            $('#input_modify_location').val(selectedWorkplaceInfo.location_workplace);
            $('#input_modify_lat_lon').val('클릭하면 위도 경도를 선택할 수 있는 구글 맵으로 유도할 예정');
            $('#input_modify_rssi_coordinate_disabled').val(rssiCoordinate);
            $('#input_modify_rssi_threshold_disabled').val(rssiThreshold);
        });

        $('#modal_modify_form').on('hidden.bs.modal', function() {
            $('#input_modify_id_disabled').val('');
            $('#input_modify_id').val('');
            $('#input_modify_name').val('');
            $('#input_modify_location').val('');
            $('#input_modify_lat_lon').val('클릭하면 위도 경도를 선택할 수 있는 구글 맵으로 유도할 예정');
            $('#input_modify_rssi_coordinate_disabled').val('');
            $('#input_modify_rssi_threshold_disabled').val('');
        });

        $('a.open_delete_modal_button').click(function() {
            $('#modal_delete_form').modal('show');

            var hiddenInputSelector = 'input.each_workplace_info_' + this.title;
            selectedWorkplaceInfo = JSON.parse($(hiddenInputSelector).val());
        });

        $('#modal_delete_form').on('shown.bs.modal', function() {
            $('#deleted_workplace_id').val(selectedWorkplaceInfo.id_workplace);
        });
    });

</script>
</body>
</html>
